fastapi==0.115.6
uvicorn[standard]==0.34.0
whoosh==2.7.4
chromadb==0.5.23
sentence-transformers==3.3.1
onnxruntime==1.20.1
pymupdf==1.25.2
pytesseract==0.3.13
python-dotenv==1.0.1
rapidfuzz==3.11.0
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3
orjson==3.10.12
jpype1==1.5.0
python-multipart==0.0.20
httpx==0.28.1
pydantic==2.10.4
aiofiles==24.1.0
redis==5.2.1
Pillow==11.0.0
transformers==4.41.2
tokenizers==0.19.1
torch==2.5.1
tiktoken==0.8.0
opencv-python==4.10.0.84
psutil==6.1.1